@using Microsoft.Extensions.Configuration;
@using Microsoft.AspNetCore.Http
@inject IConfiguration Configuration;

@{
    ViewBag.Title = "Temple";
    string apiUrl = Configuration.GetValue<string>("WebAPIBaseUrl");
}
<!-- PAGE-HEADER -->
<div class="page-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fe fe-file-text mr-1"></i>Admin Consol</a></li>
        <li class="breadcrumb-item active" aria-current="page">Temple Edit</li>
    </ol>
    <div class="ml-auto">
        <a href="~/Temple/TempleList" class="btn btn-primary btn-icon btn-sm text-white mr-2">
            <span>
                <i class="fe fe-plus"></i>
            </span> View
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md">
        <div class="card overflow-hidden">
            <div class="card-header">
                <h3 class="card-title">Temple Edit</h3>
            </div>
            <div class="card-body">
                <form action="#" role="form" class="validate" id="formPost">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Country Name </label>
                                <div class="input-box">
                                    <select class="form-control" id="Selectcountry">
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">State Name </label>
                                <div class="input-box">
                                    <select class="form-control" id="Selectstate">
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">City Name </label>
                                <div class="input-box">
                                    <select class="form-control" id="SelectCity">
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">TempleName </label>
                                <input type="text" class="form-control" id="TempleName" placeholder="Enter TempleName" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                      
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">GodName </label>
                                <input type="text" class="form-control" id="GodName" placeholder="Enter GodName" required>
                            </div>
                        </div>

                      @*   <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">TempleImage </label>
                                <input type="file" class="form-control" id="TempleImage" placeholder="Temple Image">
                            </div>
                        </div> *@
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">TempleImage </label>
                                <input type="file" class="form-control" id="TempleImage" placeholder="Temple Image" accept=".jpg, .jpeg">
                                <small @* class="form-text text-muted"*@ style="color:red">Only JPG files are allowed.</small>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <img id="TempleImagee" src="" width="100" class="rounded-circle">
                            </div>
                        </div>

                    </div>
                   
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" id="btnupdate" class="btn btn-radius btn-success">Update</button>
                            <a type="button" href="~/Temple/TempleList" class="btn btn-radius btn-danger">Reset</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

@section scripts {
    <script>
        function CountryList(Id) {
            var opt = '';
            $.ajax({
                type: "GET",
                url: "@apiUrl/api/Country/GetCountryList",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (res) {
                    var options = [];
                    options.push('<option value = ""> Select Country </option>');
                    for (var i = 0; i < res.data.length; i++) {
                        if (Id == res.data[i].countryId) {
                            opt = 'selected'
                        } else {
                            opt = '';
                        }
                        options.push('<option value = "' + res.data[i].countryId + '" ' + opt + ' > ' + res.data[i].countryName + '</option>');
                    }
                    $("#Selectcountry").html(options.join(''));
                },

                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        }

        function StateList(selectedState) {
            var opt = '';
            $.ajax({
                type: "GET",
                url: "@apiUrl/api/State/GetStateList",
                contentType: "application/json; charset=utf-8",
                headers: {
                    "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                },
                dataType: "json",
                success: function (res) {
                    var options = [];
                    options.push('<option value="">Select State</option>');
                    for (var i = 0; i < res.data.length; i++) {
                        var stateName = res.data[i].stateName;
                        var stateId = res.data[i].stateId;
                        options.push('<option value="' + stateId + '">' + stateName + '</option>');
                    }
                    $("#Selectstate").html(options.join(''));

                    if (selectedState) {
                        $('#Selectstate').val(selectedState);
                        $('#Selectstate').trigger('change');
                    }
                },
                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        }

        function CityList(selectedCity) {
            var opt = '';
            $.ajax({
                type: "GET",
                url: "@apiUrl/api/City/GetCityList",
                contentType: "application/json; charset=utf-8",
                headers: {
                    "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                },
                dataType: "json",
                success: function (res) {
                    var options = [];
                    options.push('<option value="">Select City</option>');
                    for (var i = 0; i < res.data.length; i++) {
                        var cityName = res.data[i].cityName;
                        var cityId = res.data[i].cityId;
                        options.push('<option value="' + cityId + '">' + cityName + '</option>');
                    }
                    $("#SelectCity").html(options.join(''));

                    if (selectedCity) {
                        $('#SelectCity').val(selectedCity);
                        $('#SelectCity').trigger('change');
                    }
                },
                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        }


        var templeId = @ViewBag.TempleId
            loadSingletemple()
        function loadSingletemple() {
            $.ajax({
                type: "GET",
                url: "@apiUrl/api/Temple/GetSingleTemple/" + templeId,
                contentType: "application/json; charset=utf-8",
                headers: {
                    "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                },
                dataType: "json",
                success: function (data) {
                    if (data) {
                        CountryList(data.countryId);
                        StateList(data.stateId);
                        CityList(data.cityId);

                        $('#TempleName').val(data.templeName);
                        $('#GodName').val(data.godName);
                        $('#TempleImagee').attr('src',data.templeImage);

                    }
                    else {
                        sweetAlert("Validation Alert!", "Something unexpected!", "warning");
                    }
                },
                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        }

        $("#btnupdate").click(function (e) {
            if (!document.getElementById("formPost").checkValidity()) {
                e.preventDefault();
            } else {
                imgPath = '';
                var currentImageSrc = '';
                currentImageSrc = $('#TempleImagee').attr('src'); //eithi rahiba circle ra id

                if ($('#TempleImage').val() != '' && $('#TempleImage').val() != 'Choose file') { //eithi rahiba circle ra upare thiba jou id
                    uploadFile();
                } else if (currentImageSrc != '') {
                    imgPath = currentImageSrc;
                }
                var model = {
                    templeId: templeId,
                    countryId: $.trim($("#Selectcountry").val()),
                    stateId: $.trim($("#Selectstate").val()),
                    cityId: $.trim($("#SelectCity").val()),
                    templeName: $.trim($("#TempleName").val()),
                    godName: $.trim($("#GodName").val()),
                    templeImage: imgPath,
                    updatedBy: @Context.Session.GetInt32("UserId"),
                }
                console.log(model)
                $.ajax({
                    type: "POST",
                    url: "@apiUrl/api/Temple/UpdateTemple",
                    data: JSON.stringify(model),
                    contentType: "application/json; charset=utf-8",
                    headers: {
                        "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                    },

                    //success: function (data, statusText, xhr) {
                    //    console.log(data)
                    //    if (xhr.status === 200) {
                    //        $('#Temple_Tb').DataTable().ajax.reload(null, false);
                    //        sweetAlert({
                    //            html: true,
                    //            icon: "success",
                    //            title: "Temple Update",
                    //            text: "Successfully updated!",
                    //            type: "success"
                    //        });
                    //    } else if (data.status === "duplicate") {
                    //        sweetAlert("Validation Alert!", data.responseMsg, "warning");
                    //    } else if (data.status === "error") {
                    //        sweetAlert("Validation Alert!", data.responseMsg, "warning");
                    //    } else {
                    //        sweetAlert("Validation Alert!", "Something unexpected!", "warning");
                    //    }
                    //},
                    success: function (data, statusText, xhr) {
                        if (xhr.status === 200) {
                            Swal.fire({
                                icon: "success",
                                title: "Temple Update",
                                text: "Successfully updated!",
                            }).then(function () {
                                location.reload(); // Refresh the page
                            });

                            //preloader.addClass("d-none");
                        } else if (data.status === "Duplicate") {
                            Swal.fire({
                                icon: "warning",
                                title: "Temple Already Exists!",
                                text: data.responseMsg,
                            }).then(function () {
                                location.reload(); // Refresh the page
                            });
                        } else if (data.status === "error") {
                            Swal.fire({
                                icon: "warning",
                                title: "Validation Alert!",
                                text: data.responseMsg,
                            }).then(function () {
                                location.reload(); // Refresh the page
                            });
                        } else {
                            Swal.fire({
                                icon: "warning",
                                title: "Validation Alert!",
                                text: "Something unexpected!",
                            }).then(function () {
                                location.reload(); // Refresh the page
                            });
                        }
                        preloader.addClass("d-none");
                    },
                    error: function (data) {
                        console.log(data);
                        if (data.status == 401) {
                            window.location.replace('/Message/TokenExpire');
                        } else if (data.status == 403) {
                            window.location.replace('/Message/Unauthorize');
                        } else if (data.status == 400) {
                            sweetAlert("Validation Alert!", "Please check input data!", "warning");
                        }
                    }
                });
            }
        });
        function uploadFile() {
            var totalFiles = document.getElementById('TempleImage').files.length;
            if (totalFiles > 0) {
                var formData = new FormData();
                var files = document.getElementById('TempleImage').files;
                formData.append("file", files[0]);
                $.ajax(
                    {
                        url: "/Upload/ImgUpload",
                        data: formData,
                        processData: false,
                        contentType: false,
                        async: false,
                        type: "POST",
                        success: function (data) {
                            imgPath = data;

                        },
                        error: function (data) {
                            window.location.replace('/Message/SessionExpire');
                        }
                    }
                );
            }

        }
    </script>
}