@using Microsoft.Extensions.Configuration;
@using Microsoft.AspNetCore.Http
@inject IConfiguration Configuration;

@{
    ViewBag.Title = "Pandit";
    string apiUrl = Configuration.GetValue<string>("WebAPIBaseUrl");
}
<!-- PAGE-HEADER -->
<div class="page-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fe fe-file-text mr-1"></i>Admin Consol</a></li>
        <li class="breadcrumb-item active" aria-current="page">Pandit Edit</li>
    </ol>
    <div class="ml-auto">
        <a href="~/Pandit/PanditList" class="btn btn-primary btn-icon btn-sm text-white mr-2">
            <span>
                <i class="fe fe-plus"></i>
            </span> View
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md">
        <div class="card overflow-hidden">
            <div class="card-header">
                <h3 class="card-title">Pandit Edit</h3>
            </div>
            <div class="card-body">
                <form action="#" role="form" class="validate" id="formPost">
                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Country Name </label>
                                <div class="input-box">
                                    <select class="form-control" id="Selectcountry">
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">State Name </label>
                                <div class="input-box">
                                    <select class="form-control" id="Selectstate">
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">City Name</label>
                                <div class="input-box">
                                    <select class="form-control" id="SelectCity">
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Temple Name &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <div class="input-box">
                                    <select class="form-control" id="SelectTemple">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Pandit Name &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <input type="text" class="form-control" id="PanditName" placeholder="Enter PanditName" required>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Experiences </label>
                                <input type="text" class="form-control" id="Experiences" placeholder="Enter Experiences" >
                            </div>
                        </div>

                      @*   <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">PujaCategory &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <input type="text" class="form-control" id="PujaCategory" placeholder="Enter PujaCategory" >
                            </div>
                        </div> *@

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Religion </label>
                                <input type="text" class="form-control" id="Religion" placeholder="Enter Religion" >
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">MotherTongue </label>
                                <input type="text" class="form-control" id="MotherTongue" placeholder="Enter MotherTongue" >
                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Caste </label>
                                <input type="text" class="form-control" id="Caste" placeholder="Enter Caste" >
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Gothram </label>
                                <input type="text" class="form-control" id="Gothram" placeholder="Enter Gothram" >
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">AadharCard Number </label>
                                <input type="text" class="form-control" id="AadharCard" placeholder="Enter AadharCard Number" >
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Qualification </label>
                                <input type="text" class="form-control" id="Qualification" placeholder="Enter Qualification" >
                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Address </label>
                                <input type="text" class="form-control" id="Address" placeholder="Enter Address" >
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Mobile Number &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <input type="text" class="form-control" id="PrimaryPhone" placeholder="Enter Mobile Number" required>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Alternate Mobile Number </label>
                                <input type="text" class="form-control" id="AlternatePhone" placeholder="Enter Alternate Mobile Number" >
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">MailId </label>
                                <input type="text" class="form-control" id="MailId" placeholder="Enter MailId" >
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">DateOfBirth </label>
                                <input type="date" class="form-control" name="example-text-input" tabindex="11" id="DateOfBirth" >
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Password &nbsp;<span style="color: red;"><b>*</b></span> </label>
                                <input type="text" class="form-control" id="Password" placeholder="Enter Password" >
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Pandit Image &nbsp;</label>
                                <input type="file" class="form-control" id="PanditImage" accept=".jpg, .jpeg" ">
                                <small @* class="form-text text-muted"*@ style="color:red">Only JPG files are allowed.</small>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <img id="PanditImagee" src="" width="100" class="rounded-circle">
                            </div>
                        </div>

                    </div>
                  @*   <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Message &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <input type="text" class="form-control" id="Message" placeholder="Enter Message" required>
                            </div>
                        </div>
                    </div> *@
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" id="btnupdate" class="btn btn-radius btn-success">Update</button>
                            <a type="button" href="/Pandit/PanditList" class="btn btn-radius btn-danger">Reset</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

@section scripts {
    <script>
        function CountryList(Id) {
            var opt = '';
            $.ajax({
                type: "GET",
                url: "@apiUrl/api/Country/GetCountryList",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (res) {
                    var options = [];
                    options.push('<option value = ""> Select Country </option>');
                    for (var i = 0; i < res.data.length; i++) {
                        if (Id == res.data[i].countryId) {
                            opt = 'selected'
                        } else {
                            opt = '';
                        }
                        options.push('<option value = "' + res.data[i].countryId + '" ' + opt + ' > ' + res.data[i].countryName + '</option>');
                    }
                    $("#Selectcountry").html(options.join(''));
                },

                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        }

        function StateList(selectedState) {
            var opt = '';
            $.ajax({
                type: "GET",
                url: "@apiUrl/api/State/GetStateList",
                contentType: "application/json; charset=utf-8",
                headers: {
                    "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                },
                dataType: "json",
                success: function (res) {
                    var options = [];
                    options.push('<option value="">Select State</option>');
                    for (var i = 0; i < res.data.length; i++) {
                        var stateName = res.data[i].stateName;
                        var stateId = res.data[i].stateId;
                        options.push('<option value="' + stateId + '">' + stateName + '</option>');
                    }
                    $("#Selectstate").html(options.join(''));

                    if (selectedState) {
                        $('#Selectstate').val(selectedState);
                        $('#Selectstate').trigger('change');
                    }
                },
                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        }

        function CityList(selectedCity) {
            var opt = '';
            $.ajax({
                type: "GET",
                url: "@apiUrl/api/City/GetCityList",
                contentType: "application/json; charset=utf-8",
                headers: {
                    "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                },
                dataType: "json",
                success: function (res) {
                    var options = [];
                    options.push('<option value="">Select City</option>');
                    for (var i = 0; i < res.data.length; i++) {
                        var cityName = res.data[i].cityName;
                        var cityId = res.data[i].cityId;
                        options.push('<option value="' + cityId + '">' + cityName + '</option>');
                    }
                    $("#SelectCity").html(options.join(''));

                    if (selectedCity) {
                        $('#SelectCity').val(selectedCity);
                        $('#SelectCity').trigger('change');
                    }
                },
                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        }


        function TempleList(selectedTemple) {
            var opt = '';
            $.ajax({
                type: "GET",
                url: "@apiUrl/api/Temple/GetTempleList",
                contentType: "application/json; charset=utf-8",
                headers: {
                    "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                },
                dataType: "json",
                success: function (res) {
                    var options = [];
                    options.push('<option value="">Select Temple</option>');
                    for (var i = 0; i < res.data.length; i++) {
                        var templeName = res.data[i].templeName;
                        var templeId = res.data[i].templeId;
                        options.push('<option value="' + templeId + '">' + templeName + '</option>');
                    }
                    $("#SelectTemple").html(options.join(''));

                    if (selectedTemple) {
                        $('#SelectTemple').val(selectedTemple);
                        $('#SelectTemple').trigger('change');
                    }
                },
                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        }



        // GetTemple()
        // async function GetTemple(Id) {
        //     var opt = '';
        //     $.ajax({
        //         type: "GET",
        //         url: "@apiUrl/api/Temple/GetTempleList",
        //         contentType: "application/json; charset=utf-8",
        //         dataType: "json",
        //         success: function (res) {
        //             var options = [];
        //             options.push('<option value = ""> Select Temple </option>');
        //             for (var i = 0; i < res.data.length; i++) {
        //                 if (Id == res.data[i].templeId) {
        //                     opt = 'selected'
        //                 } else {
        //                     opt = '';
        //                 }
        //                 options.push('<option value = "' + res.data[i].templeId + '" ' + opt + ' > ' + res.data[i].templeName + '</option>');
        //             }
        //             $("#SelectTemple").html(options.join(''));
        //         },

        //         error: function (data) {
        //             if (data.status == 401) {
        //                 window.location.replace('/Message/TokenExpire');
        //             } else if (data.status == 403) {
        //                 window.location.replace('/Message/Unauthorize');
        //             }
        //         }
        //     });
        // }

        var panditId = @ViewBag.PanditId
            loadSinglepandit()
        function loadSinglepandit() {
            $.ajax({
                type: "GET",
                url: "@apiUrl/api/Pandit/GetSinglePandit/" + panditId,
                contentType: "application/json; charset=utf-8",
                headers: {
                    "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                },
                dataType: "json",
                success: function (data) {
                    if (data) {
                        CountryList(data.countryId);
                        StateList(data.stateId);
                        CityList(data.cityId);
                        TempleList(data.templeId);

                        // $('#SelectTemple').val(data.templeId);
                        $('#Experiences').val(data.experiences);
                        // $('#PujaCategory').val(data.pujaCategory);
                        $('#Religion').val(data.religion);
                        $('#MotherTongue').val(data.motherTongue);
                        $('#Caste').val(data.caste);
                        $('#Gothram').val(data.gothram);
                        $('#AadharCard').val(data.aadharCard);
                        $('#Qualification').val(data.qualification);
                        $('#PanditName').val(data.panditName);
                        $('#Address').val(data.address);
                        $('#PrimaryPhone').val(data.primaryPhone);
                        $('#AlternatePhone').val(data.alternatePhone);
                        $('#MailId').val(data.mailId);
                        //$('#DateOfBirth').val(data.dateOfBirth);
                        if (data.dateOfBirth != null) {
                            var dateTimeString = data.dateOfBirth;
                            var dateOnly = dateTimeString.split('T')[0]; // Extract the date portion
                            $('#DateOfBirth').val(dateOnly);
                        } else {
                            $('#DateOfBirth').val('');
                        }
                        $('#Password').val(data.password);
                        // $('#Message').val(data.message);
                        $('#PanditImagee').attr('src', data.panditImage);

                    }
                    else {
                        sweetAlert("Validation Alert!", "Something unexpected!", "warning");
                    }
                },
                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        }

        $("#btnupdate").click(function (e) {
            if (!document.getElementById("formPost").checkValidity()) {
                e.preventDefault();
            } else {
                imgPath = '';
                var currentImageSrc = '';
                currentImageSrc = $('#PanditImagee').attr('src'); //eithi rahiba circle ra id

                if ($('#PanditImage').val() != '' && $('#PanditImage').val() != 'Choose file') { //eithi rahiba circle ra upare thiba jou id
                    uploadFile();
                } else if (currentImageSrc != '') {
                    imgPath = currentImageSrc;
                }
                
                var model = {
                    panditId: panditId,

                    // countryId: $.trim($("#Selectcountry").val()),
                    // stateId: $.trim($("#Selectstate").val()),
                    // cityId: $.trim($("#SelectCity").val()),
                    // templeId: $.trim($("#SelectTemple").val()),

                    countryId: parseInt($("#Selectcountry").val()),
                    stateId: parseInt($("#SelectState").val()),
                    cityId: parseInt($("#SelectCity").val()),
                    templeId: parseInt($("#SelectTemple").val()),


                    experiences: $.trim($("#Experiences").val()),
                    // pujaCategory: $.trim($("#PujaCategory").val()),
                    religion: $.trim($("#Religion").val()),
                    motherTongue: $.trim($("#MotherTongue").val()),
                    caste: $.trim($("#Caste").val()),
                    gothram: $.trim($("#Gothram").val()),
                    aadharCard: $.trim($("#AadharCard").val()),
                    qualification: $.trim($("#Qualification").val()),
                    panditName: $.trim($("#PanditName").val()),
                    address: $.trim($("#Address").val()),
                    primaryPhone: $.trim($("#PrimaryPhone").val()),
                    alternatePhone: $.trim($("#AlternatePhone").val()),
                    mailId: $.trim($("#MailId").val()),
                    dateOfBirth: $.trim($("#DateOfBirth").val()) == '' ? null : $.trim($("#DateOfBirth").val().replace(/\//g, '-')),
                    password: $.trim($("#Password").val()),
                    // message: $.trim($("#Message").val()),
                    panditImage: imgPath,
                    updatedBy: @Context.Session.GetInt32("UserId"),
                }
                console.log(model)
                $.ajax({
                    type: "POST",
                    url: "@apiUrl/api/Pandit/UpdatePandit",
                    data: JSON.stringify(model),
                    contentType: "application/json; charset=utf-8",
                    headers: {
                        "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                    },
                    //success: function (data, statusText, xhr) {
                    //    console.log(data)
                    //    if (xhr.status === 200) {
                    //        $('#Temple_Tb').DataTable().ajax.reload(null, false);
                    //        sweetAlert({
                    //            html: true,
                    //            icon: "success",
                    //            title: "Temple Update",
                    //            text: "Successfully updated!",
                    //            type: "success"
                    //        });
                    //    } else if (data.status === "duplicate") {
                    //        sweetAlert("Validation Alert!", data.responseMsg, "warning");
                    //    } else if (data.status === "error") {
                    //        sweetAlert("Validation Alert!", data.responseMsg, "warning");
                    //    } else {
                    //        sweetAlert("Validation Alert!", "Something unexpected!", "warning");
                    //    }
                    //},
                    success: function (data, statusText, xhr) {
                        if (xhr.status === 200) {
                            Swal.fire({
                                icon: "success",
                                title: "Pandit Update",
                                text: "Successfully updated!",
                            }).then(function () {
                                location.reload(); // Refresh the page
                            });

                            //preloader.addClass("d-none");
                        } else if (data.status === "Duplicate") {
                            Swal.fire({
                                icon: "warning",
                                title: "Pandit Already Exists!",
                                text: data.responseMsg,
                            }).then(function () {
                                location.reload(); // Refresh the page
                            });
                        } else if (data.status === "error") {
                            Swal.fire({
                                icon: "warning",
                                title: "Validation Alert!",
                                text: data.responseMsg,
                            }).then(function () {
                                location.reload(); // Refresh the page
                            });
                        } else {
                            Swal.fire({
                                icon: "warning",
                                title: "Validation Alert!",
                                text: "Something unexpected!",
                            }).then(function () {
                                location.reload(); // Refresh the page
                            });
                        }
                        preloader.addClass("d-none");
                    },
                    error: function (data) {
                        console.log(data);
                        if (data.status == 401) {
                            window.location.replace('/Message/TokenExpire');
                        } else if (data.status == 403) {
                            window.location.replace('/Message/Unauthorize');
                        } else if (data.status == 400) {
                            sweetAlert("Validation Alert!", "Please check input data!", "warning");
                        }
                    }
                });
            }
        });


        function uploadFile() {
            var totalFiles = document.getElementById('PanditImage').files.length;
            if (totalFiles > 0) {
                var formData = new FormData();
                var files = document.getElementById('PanditImage').files;
                formData.append("file", files[0]);
                $.ajax(
                    {
                        url: "/Upload/ImgUpload",
                        data: formData,
                        processData: false,
                        contentType: false,
                        async: false,
                        type: "POST",
                        success: function (data) {
                            imgPath = data;

                        },
                        error: function (data) {
                            window.location.replace('/Message/SessionExpire');
                        }
                    }
                );
            }

        }

        $("#btnupdate").click(function (e) {
            // Prevent form submission if fields are empty
            var templeName = $.trim($("#SelectTemple").val());
            var panditName = $.trim($("#PanditName").val());
            var primaryPhone = $.trim($("#PrimaryPhone").val());
            var password = $.trim($("#Password").val());

            if (templeName === "" || panditName === "" || primaryPhone === "" || password === "") {
                e.preventDefault();
                Swal.fire({
                    icon: "warning",
                    title: "Validation Alert!",
                    text: "Temple Name, Pandit Name, Primary Phone, and Password are required fields!",
                });
                return;
            }


        });



    </script>
}