@using Microsoft.Extensions.Configuration;
@using Microsoft.AspNetCore.Http
@inject IConfiguration Configuration;

@{
    ViewBag.Title = "Booking";
    string apiUrl = Configuration.GetValue<string>("WebAPIBaseUrl");
}
<!-- PAGE-HEADER -->
<div class="page-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fe fe-file-text mr-1"></i>Admin Consol</a></li>
        <li class="breadcrumb-item active" aria-current="page">Booking Edit</li>
    </ol>
    <div class="ml-auto">
        <a href="~/Booking/BookingList" class="btn btn-primary btn-icon btn-sm text-white mr-2">
            <span>
                <i class="fe fe-plus"></i>
            </span> View
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md">
        <div class="card overflow-hidden">
            <div class="card-header">
                <h3 class="card-title">Booking Create</h3>
            </div>
            <div class="card-body">
                <form action="#" role="form" class="validate" id="formPost">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Bhakta Name &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <div class="input-box">
                                    <select class="form-control" id="SelectBhakta">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Temple Name &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <div class="input-box">
                                    <select class="form-control" id="SelectTemple">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">PoojaCategory Name &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <div class="input-box">
                                    <select class="form-control" id="SelectPoojaCategory">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Pandit Name &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <div class="input-box">
                                    <select class="form-control" id="SelectPandit">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">BookingDate &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <input type="datetime-local" class="form-control" name="example-text-input" tabindex="11" id="BookingDate" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" id="btnupdate" class="btn btn-radius btn-success">Update</button>
                            <a type="button" href="~/Booking/BookingList" class="btn btn-radius btn-danger">Reset</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

@section scripts {
    <script>
        function BhaktaList(Id) {
            var opt = '';
            $.ajax({
                type: "GET",
                url: "@apiUrl/api/Bhakta/GetBhaktaList",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (res) {
                    var options = [];
                    options.push('<option value = ""> Select Bhakta </option>');
                    for (var i = 0; i < res.data.length; i++) {
                        if (Id == res.data[i].bhaktaId) {
                            opt = 'selected'
                        } else {
                            opt = '';
                        }
                        options.push('<option value = "' + res.data[i].bhaktaId + '" ' + opt + ' > ' + res.data[i].bhaktaName + '</option>');
                    }
                    $("#SelectBhakta").html(options.join(''));
                },

                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        }

        function TempleList(Id) {
            var opt = '';
            $.ajax({
                type: "GET",
                url: "@apiUrl/api/Temple/GetTempleList",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (res) {
                    var options = [];
                    options.push('<option value = ""> Select Temple </option>');
                    for (var i = 0; i < res.data.length; i++) {
                        if (Id == res.data[i].templeId) {
                            opt = 'selected'
                        } else {
                            opt = '';
                        }
                        options.push('<option value = "' + res.data[i].templeId + '" ' + opt + ' > ' + res.data[i].templeName + '</option>');
                    }
                    $("#SelectTemple").html(options.join(''));
                },

                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        }
        //poojacategory
        function PoojacategoryList(selectedPoojacategory) {
            var opt = '';
            $.ajax({
                type: "GET",
                url: "@apiUrl/api/PoojaCategory/GetPoojaCategoryList",
                contentType: "application/json; charset=utf-8",
                headers: {
                    "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                },
                dataType: "json",
                success: function (res) {
                    var options = [];
                    options.push('<option value="">Select PoojaCategory</option>');
                    for (var i = 0; i < res.data.length; i++) {
                        var poojaCategoryName = res.data[i].poojaCategoryName;
                        var poojaCategoryId = res.data[i].poojaCategoryId;
                        options.push('<option value="' + poojaCategoryId + '">' + poojaCategoryName + '</option>');
                    }
                    $("#SelectPoojaCategory").html(options.join(''));

                    if (selectedPoojacategory) {
                        $('#SelectPoojaCategory').val(selectedPoojacategory);
                        $('#SelectPoojaCategory').trigger('change');
                    }
                },
                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        }

        function PanditList(Id) {
            var opt = '';
            $.ajax({
                type: "GET",
                url: "@apiUrl/api/Pandit/GetPanditList",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (res) {
                    var options = [];
                    options.push('<option value = ""> Select Pandit </option>');
                    for (var i = 0; i < res.data.length; i++) {
                        if (Id == res.data[i].panditId) {
                            opt = 'selected'
                        } else {
                            opt = '';
                        }
                        options.push('<option value = "' + res.data[i].panditId + '" ' + opt + ' > ' + res.data[i].panditName + '</option>');
                    }
                    $("#SelectPandit").html(options.join(''));
                },

                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        }

        var bookingId = @ViewBag.BookingId
            loadSinglebooking()
        function loadSinglebooking() {
            $.ajax({
                type: "GET",
                url: "@apiUrl/api/Booking/GetSingleBooking/" + bookingId,
                contentType: "application/json; charset=utf-8",
                headers: {
                    "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                },
                dataType: "json",
                success: function (data) {
                    if (data) {
                        BhaktaList(data.bhaktaId);
                        TempleList(data.templeId);
                        PanditList(data.panditId);
                        PoojacategoryList(data.poojaCategoryId);

                        $('#BookingDate').val(data.bookingDate);
                       
                    }
                    else {
                        sweetAlert("Validation Alert!", "Something unexpected!", "warning");
                    }
                },
                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        }

        $("#btnupdate").click(function (e) {
            if (!document.getElementById("formPost").checkValidity()) {
                e.preventDefault();
            } else {
                var model = {
                    bookingId: bookingId,
                    bhaktaId: $.trim($("#SelectBhakta").val()),
                    templeId: $.trim($("#SelectTemple").val()),
                    panditId: $.trim($("#SelectPandit").val()),
                    poojaCategoryId: $.trim($("#SelectPoojaCategory").val()),
                    bookingDate: $.trim($("#BookingDate").val()) == '' ? null : $.trim($("#BookingDate").val().replace(/\//g, '-')),
                    updatedBy: @Context.Session.GetInt32("UserId"),
                }
                console.log(model)
                $.ajax({
                    type: "POST",
                    url: "@apiUrl/api/Booking/UpdateBooking",
                    data: JSON.stringify(model),
                    contentType: "application/json; charset=utf-8",
                    headers: {
                        "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                    },
                    //success: function (data, statusText, xhr) {
                    //    console.log(data)
                    //    if (xhr.status === 200) {
                    //        $('#Temple_Tb').DataTable().ajax.reload(null, false);
                    //        sweetAlert({
                    //            html: true,
                    //            icon: "success",
                    //            title: "Temple Update",
                    //            text: "Successfully updated!",
                    //            type: "success"
                    //        });
                    //    } else if (data.status === "duplicate") {
                    //        sweetAlert("Validation Alert!", data.responseMsg, "warning");
                    //    } else if (data.status === "error") {
                    //        sweetAlert("Validation Alert!", data.responseMsg, "warning");
                    //    } else {
                    //        sweetAlert("Validation Alert!", "Something unexpected!", "warning");
                    //    }
                    //},
                    success: function (data, statusText, xhr) {
                        if (xhr.status === 200) {
                            Swal.fire({
                                icon: "success",
                                title: "Booking Update",
                                text: "Successfully updated!",
                            }).then(function () {
                                location.reload(); // Refresh the page
                            });

                            //preloader.addClass("d-none");
                        } else if (data.status === "Duplicate") {
                            Swal.fire({
                                icon: "warning",
                                title: "Booking Already Exists!",
                                text: data.responseMsg,
                            }).then(function () {
                                location.reload(); // Refresh the page
                            });
                        } else if (data.status === "error") {
                            Swal.fire({
                                icon: "warning",
                                title: "Validation Alert!",
                                text: data.responseMsg,
                            }).then(function () {
                                location.reload(); // Refresh the page
                            });
                        } else {
                            Swal.fire({
                                icon: "warning",
                                title: "Validation Alert!",
                                text: "Something unexpected!",
                            }).then(function () {
                                location.reload(); // Refresh the page
                            });
                        }
                        preloader.addClass("d-none");
                    },
                    error: function (data) {
                        console.log(data);
                        if (data.status == 401) {
                            window.location.replace('/Message/TokenExpire');
                        } else if (data.status == 403) {
                            window.location.replace('/Message/Unauthorize');
                        } else if (data.status == 400) {
                            sweetAlert("Validation Alert!", "Please check input data!", "warning");
                        }
                    }
                });
            }
        });
        
    </script>
}